*{ box-sizing: border-box; }

img { width: 100%; }
 h1 {
  font-family: work-sans,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title{
  font-size: xx-large;
  color: rgb(132,21,39);
}

body {
  font-family: work-sans,sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(228,215,196);
  margin: 0%;
 }
 hr{
  height: 8px;
  border: none;
}
.rope-nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(196,94,43); 
}

.line-rope {
  background-color: rgb(196,94,43);
}

.rear-nav {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(68,130,137); 
}

.line-rear {
  background-color: rgb(68,130,137);
}

.noth-nav { 
  display: flex;
  justify-content: flex-end;
  background-color: rgb(87,92,52); 
}

.line-north{
  background-color: rgb(87,92,52);
}

.bird-nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(162,128,50);
 }

 .line-bird{
   background-color: rgb(162,128,50);
 }
 
nav img.active { filter: brightness(0%) }

.rope-sub {
  padding-right: 10%;
  margin-top: -10px;
  margin-left: -10px;
}

.image-ppl  { 
padding-right: 10%;
margin-top: -250px;
}

.two-colum{ display: flex;
  flex-wrap: wrap;
}
.two-colum  div { 
  flex: 50%;
}